<div class="footerContentWrap">
  <footer class="footerWrap footerStyleLight contactFooterWrap">
    <div class="main contactFooter">
      <section>
        <div class="contactShare">
          &nbsp;
        </div>
      </section>
    </div>
  </footer>
  <footer class="footerWrap footerStyleDark">
    <div class="main footerWidget widget_area">
      <div class="columnsWrap">
        <aside class="columns1_4 widgetWrap widget">
          <div class="widget_advert_inner">
            <figure class="sc_image sc_image_shape_square width_150">
              <img src="/img/footer_logo.png" alt="" />
            </figure>
            <br />
            <div
              class="sc_video_player width_100per height_150"
              data-width="100%"
              data-height="150"
            >
              <div
                class="sc_video_frame sc_video_play_button"
                data-video='&lt;iframe class="video_frame" src="/img/trailer.mp4" width="100%" height="150" frameborder="0" webkitAllowFullScreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowFullScreen="allowFullScreen"&gt;&lt;/iframe&gt;'
              >
                <video width="550" height="367" controls>
                  <source src="/img/trailer.mp4" type="video/mp4" />
                </video>
              </div>
            </div>
            <br />
            <span class="sc_icon icon-email theme_accent" style="color: #fff;"
              >info@warmnotes.com</span
            >
          </div>
        </aside>
        <aside class="columns1_4 widgetWrap widget widget_recent_posts">
          <h3 class="title">Important Links</h3>
          <article class="post_item with_thumb first">
            <h5 class="post_title">
              <a href="/plans">Plans</a>
            </h5>
          </article>
          <article class="post_item with_thumb first">
            <h5 class="post_title">
              <a href="/blog">Blog</a>
            </h5>
          </article>
          <article class="post_item with_thumb first">
            <h5 class="post_title">
              <a href="/terms-and-conditions">Terms & Conditions</a>
            </h5>
          </article>
          <article class="post_item with_thumb first">
            <h5 class="post_title">
              <a href="/privacy-policy">Privacy Policy</a>
            </h5>
          </article>
          <article class="post_item with_thumb first">
            <h5 class="post_title">
              <a href="/faq">F&Q</a>
            </h5>
          </article>
          <article class="post_item with_thumb first height_30">
            <h5 class="post_title">
              <a href="/contact">Contact Us</a>
            </h5>
          </article>
        </aside>
        <aside class="columns1_4 widgetWrap widget widget_recent_posts">
          <h3 class="title">Account Info</h3>
          <article class="post_item with_thumb first height_30">
            <h5 class="post_title">
              <a href="/account">My Account</a>
            </h5>
          </article>
          <article class="post_item with_thumb first height_30">
            <h5 class="post_title">
              <a href="/notes">My Notes</a>
            </h5>
          </article>
          <article class="post_item with_thumb first height_30">
            <h5 class="post_title">
              <a href="/login">Login</a>
            </h5>
          </article>
          <article class="post_item with_thumb first height_30">
            <h5 class="post_title">
              <a href="/register">Register</a>
            </h5>
          </article>
          <article class="post_item with_thumb first height_30">
            <h5 class="post_title">
              <a href="/users/forgot">Forgot Password</a>
            </h5>
          </article>
        </aside>

        <!-- /Widget Recent Posts -->
        <!-- Widget Flickr -->
        <aside class="columns1_4 widgetWrap widget widget_flickr">
          <h3 class="title">Connect with us</h3>
          <div>
            <a
              href="https://www.facebook.com/warmnotesofficial/"
              target="_blank"
              class="btn btn-social-icon btn-facebook"
              ><span class="fa fa-facebook"></span
            ></a>
            <a
              href="https://www.instagram.com/warmnotes2/"
              target="_blank"
              class="btn btn-social-icon btn-instagram"
              ><span class="fa fa-instagram"></span
            ></a>
            <a
              href="https://www.linkedin.com/company/warmnotes/"
              target="_blank"
              class="btn btn-social-icon btn-linkedin"
              ><span class="fa fa-linkedin"></span
            ></a>
            <br />
            <a
              target="_blank"
              class="btn btn-social-icon btn-pinterest"
              href="https://www.pinterest.com/0lkjy0kveoof5o74dy7pyjapbvq0p3/"
              ><span class="fa fa-pinterest"></span
            ></a>
            <a
              href="https://www.reddit.com/user/warmnotes"
              target="_blank"
              class="btn btn-social-icon btn-reddit"
              ><span class="fa fa-reddit"></span
            ></a>
            <br />
            <a
              href="https://warmnotes-official.tumblr.com/"
              target="_blank"
              class="btn btn-social-icon btn-tumblr"
              ><span class="fa fa-tumblr"></span
            ></a>
            <a
              href="https://twitter.com/warm_notes"
              target="_blank"
              class="btn btn-social-icon btn-twitter"
              ><span class="fa fa-twitter"></span
            ></a>
          </div>
        </aside>
      </div>
    </div>
  </footer>
  <div class="copyWrap">
    <div class="copy main">
      <div class="copyright">
        <a href="/">WARMNOTES</a> &copy; 2020 All Rights Reserved
        <a href="/terms-and-conditions">Terms of Use</a> and
        <a href="/privacy-policy">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .btn-social-icon {
    margin-right: 10px;
    margin-top: 10px;
  }
  .post_title {
    margin-top: 5px;
  }
  .copyright a {
    color: #fff;
  }
</style>
