<div class="box white-bg">
  <h5>Sign-in with</h5>
  <div class="sep red"></div>

  <div class="text-center social-btn">
    <a href="/auth/facebook" class="btn btn-primary btn-block"
      ><i class="fa fa-facebook"></i> Sign-in with <b>Facebook</b></a
    >
    <a href="/auth/google" class="btn btn-danger btn-block"
      ><i class="fa fa-google"></i> Sign-in with <b>Google</b></a
    >
    <a href="/auth/twitter" class="btn btn-info btn-block"
      ><i class="fa fa-twitter"></i> Sign-in with <b>Twitter</b></a
    >
  </div>
</div>
