<div class="sc_parallax light">
  <div class="sc_parallax_content">
      <div class="sc_content main margin_top_3_5em_imp margin_bottom_3em_imp">
          <div class="columnsWrap sc_columns sc_columns_count_2">
              <div class="columns1_2 sc_column_item sc_column_item_1 odd first">
                  <h1 class="sc_title sc_title_regular text-none">
                      Lets plan what should happen<br>
                      after Death.
                  </h1>
                  <h3 class="sc_title sc_title_regular theme_accent text-left">Nothing good in saying Goodbye</h3>
                  <div class="sc_section font-size_1_15em">
                      <p>We all know that death is inevitable. The most painful moment is not getting enough time to say goodbye 
                          to our loved ones. Now we can share feelings & thoughts after death.</p>
                      <ul class="sc_list sc_list_style_iconed margin_bottom_2em">
                          <li class="sc_list_item icon-check odd first">Everyone deserves a chance to say Goodbye</li>
                          <li class="sc_list_item icon-check even">Death is inevitable, not anymore</li>
                          <li class="sc_list_item icon-check odd">Why to wait, lets <a href="/register" style="color:#e33c1c">sign Up</a>, its free</li>
                      </ul>
                  </div>
              </div>
              <div class="columns1_2 sc_column_item sc_column_item_2 even">

                <div class="card">
                    <div class="card-img">
                        <img src="/img/hero.jpg">
                    </div>
                    
                    <div class="card-footer">
                        <a class="btn btn-primary" style="text-shadow: none;" href="/register">Register Now</a>
                    </div>
           
                </div>

              </div>
          </div>
      </div>
  </div>
</div>

<div class="userHeaderSection global">
  <div class="sc_section texture_bg_11 bg_tint_dark color_fff">
      <div class="sc_content main margin_top_3_5em_imp margin_bottom_2_5em_imp">
          <div class="columnsWrap sc_columns sc_columns_count_4">
              <div class="columns1_4 sc_column_item sc_column_item_1 odd first">
                  <div class="sc_section texture_bg_11 margin_bottom_1em_imp text-center font-size_0_9em padding_2em">
                      <div class="sc_title_icon sc_title_top sc_size_medium icon-darts"></div>
                      <h4 class="sc_title sc_title_iconed text-center color_fff margin_bottom_0_1em font_weight_700">OUR MISSION</h4> Everyone deserves a chance to say Goodbye
                  </div>
              </div>
              <div class="columns1_4 sc_column_item sc_column_item_2 even">
                  <div class="sc_section texture_bg_11 text-center margin_bottom_1em_imp font-size_0_9em padding_2em">
                      <div class="sc_title_icon sc_title_top sc_size_medium icon-briefcase"></div>
                      <h4 class="sc_title sc_title_iconed text-center color_fff margin_bottom_0_1em font_weight_700">OUR SOLUTION</h4> Tech-based personal notes for the personal ones
                  </div>
              </div>
              <div class="columns1_4 sc_column_item sc_column_item_3 odd">
                  <div class="sc_section texture_bg_11 text-center margin_bottom_1em_imp font-size_0_9em padding_2em">
                      <div class="sc_title_icon sc_title_top sc_size_medium icon-earth15"></div>
                      <h4 class="sc_title sc_title_iconed text-center color_fff margin_bottom_0_1em font_weight_700">YOUR BENEFIT</h4> Stay connected even after destined separation
                  </div>
              </div>
              <div class="columns1_4 sc_column_item sc_column_item_4 even">
                  <div class="sc_section texture_bg_11 text-center margin_bottom_1em_imp font-size_0_9em padding_2em">
                      <div class="sc_title_icon sc_title_top sc_size_medium icon-users2"></div>
                      <h4 class="sc_title sc_title_iconed text-center color_fff margin_bottom_0_1em font_weight_700">JOIN NOW</h4> Join now, subscription is free for first 1000 users
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- /User header section -->
<!-- Content -->
<div class="mainWrap without_sidebar">
  <div class="content">
      <div>
          <section class="post no_margin page">
              <article class="post_content">
                  <div class="post_text_area">


                      <div class="sc_content main margin_top_4em_imp">

                          <div class="postChat">
                              <div class="sc_chat">
                                  <p>Jesus looked at them and said, "With man it is impossible, but not with God. For all things are possible with God."</p>
                                  <p class="sc_quote_title">
                                      Mark 10:27
                                  </p>
                              </div>
                              <div class="sc_chat">
                                  <p>"As the soul experiences in this body childhood, youth, and old age, so also it acquires another body; the sage in this is not deluded."</p>
                                  <p class="sc_quote_title">
                                      Bhagavad Gita
                                  </p>
                              </div>
                          </div>

                          <h2 class="sc_title sc_title_regular">How it works</h2>

                          <hr></hr>

                          <article class="postRight hrShadow even post">
                              <div class="sc_section columns1_2 post_thumb thumb">
                                  <img alt="" src="/img/register_1.jpg" height="650px" width="402px">
                              </div>
                              <h3 class="post_title">
                                  <a href="/register">Register & choose a plan</a>
                              </h3>
                              <div class="postStandard">
                                  <p>
                                      Register and subscribe to a platform plan, Here is the list of all <a href="/plans" style="color: #e33c1c;">plans</a>. You can create an account on the platform or you can register via your Google, Facebook or Twitter accounts.
                                      After Registration, choose a plan and start writing notes. <br>
                                      You can register <a href="/register" style="color: #e33c1c;">here</a>.
                                  </p>
                              </div>
                          </article>

                          <hr></hr>

                          <article class="postLeft hrShadow odd post">
                              <div class="sc_section columns1_2 post_thumb thumb">
                                  <img alt="" src="/img/notes_1.jpg" height="650px" width="402px">
                              </div>
                              <h3 class="post_title">
                                  <a href="/notes">Write notes for the loved ones</a>
                              </h3>
                              <div class="postStandard">
                                  <p>
                                      After registration and successfully subscribing to a plan you can start writing notes. The notes has been classified into different types and each type comes with a default message to start with. <br> You can start writing notes <a href="/notes">here</a> if you are signed-in.
                                  </p>
                              </div>
                          </article>

                          <hr></hr>

                          <article class="postRight hrShadow even post">
                              <div class="sc_section columns1_2 post_thumb thumb">
                                  <img alt="" src="/img/email_1.jpg" height="650px" width="402px">
                              </div>
                              <h3 class="post_title">
                                  <a href="/notes">The notes will be delivered when time comes</a>
                              </h3>
                              <div class="postStandard">
                                  <p>
                                      The notes will be attached to one or multiple recipients and the notes will be delivered to the respective recipients when the time comes.

                                  </p>
                              </div>
                          </article>

                      </div>
                      <%- include('./elements/plans') %>
                  </div>
              </article>
          </section>
      </div>
  </div>
</div>
