<div class="widgetTabs">
  <div class="mainWrap without_sidebar" id="tabBlog" style="margin-top: 20px;">
    <div class="main">
      <div class="content">
        <div class="mainWrap with_sidebar sideBarRight">
          <div class="main">
            <!-- Content -->
            <div class="content">
              <div>
                <section class="post no_margin">
                  <article class="post_content">
                    <div class="post_text_area">
                      <div class="woocommerce">
                        <h3>Contact Us</h3>
                        <%- include('../elements/contact') %>
                      </div>
                      <div class="tagsWrap"></div>
                    </div>
                  </article>
                </section>
              </div>
            </div>
            <!-- /Sidebar -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Content -->
</div>
