<div id="topOfPage" class="topTabsWrap">
    <div class="main">
        <h3 class="pageTitle h3">FAQ</h3>
    </div>
</div>
<!-- /Page title -->
<!-- Content -->
<div class="mainWrap">
    <div class="main">
        <div class="content">
            <div >
                <section class="post no_margin">
                    <article class="post_content">
                        <div class="post_text_area">
                            <div class="columnsWrap sc_columns sc_columns_count_3">
                                <div class="sc_column_item sc_column_item_1 odd first span_2">
                                    <h2 class="sc_title sc_title_regular text-left">Got Questions?</h2>
                                    <p>We have compiled a list of commonly asked questions and in case you have any more queries, feel free to write us at info@warmnotes.com</p>
                                    <div class="sc_toggles sc_toggles_style_2 sc_show_counter sc_toggles_large">
                                        <div class="sc_toggles_item sc_active sc_toggles_item_large odd first">
                                            <h3 class="sc_toggles_title">
                                                <span class="sc_items_counter">1</span>
                                                How Can I Register on the Platform?
                                            </h3>
                                            <div class="sc_toggles_content" style="display:block;">
                                                <p>There are 4 ways to register at the platform, 
                                                <ul>
                                                    <li>Facebook</li>
                                                    <li>Twitter</li>
                                                    <li>Google</li>
                                                    <li>Website Registration</li>
                                                </ul>
                                                For registration, please go to <a href="/register">registration page</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="sc_toggles_item sc_toggles_item_large even">
                                            <h3 class="sc_toggles_title">
                                                <span class="sc_items_counter">2</span>
                                                Can I send single note to multiple people?
                                            </h3>
                                            <div class="sc_toggles_content">
                                                <p>Yes, You can send a note to as many users as you want depending on your subscribed plan.</p>
                                            </div>
                                        </div>
                                        <div class="sc_toggles_item sc_toggles_item_large odd">
                                            <h3 class="sc_toggles_title">
                                                <span class="sc_items_counter">3</span>
                                                Can I edit the Notes time to time?
                                            </h3>
                                            <div class="sc_toggles_content">
                                                <p>Yes, you can change the content of notes whenever you want and you can also add or remove the recipients of the note and we strongly encourage you to change the notes every month.</p>
                                            </div>
                                        </div>
                                        <div class="sc_toggles_item sc_toggles_item_large even">
                                            <h3 class="sc_toggles_title">
                                                <span class="sc_items_counter">4</span>
                                                Can I test the notes?
                                            </h3>
                                            <div class="sc_toggles_content">
                                                <p>Yes, you can test the notes by emailing to yourself as many times as you want and the recipients will receive the note the same as as you get during testing out the note.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Contact form -->
                                    <h2 class="sc_title sc_title_regular text-left">Didn&#8217;t find the answer?</h2>
                                    <%- include('../elements/contact') %>
                                    <!-- /Contact form -->
                                </div>
                            </div>
                            <div class="tagsWrap"></div>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>
