<link rel="stylesheet" href="/css/login.css" />

<div class="mainWrap with_sidebar sideBarRight">
  <div class="main">
    <!-- Content -->
    <div class="content">
      <div class="container container-boxes">
        <div class="row">
          <div class="col-sm-5 center">
            <div class="box white-bg">
              <h5>Reset Password</h5>
              <div class="sep red"></div>
              <div class="margin-1"></div>
              <form
                id="contact_form"
                action="/forgot"
                class="no-bottom"
                method="post"
                novalidate
              >
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <label for="email" class="sr-only">Email</label>
                <input
                  type="email"
                  class="underline"
                  name="email"
                  id="email"
                  placeholder="Your email..."
                  required
                />

                <div
                  class="form-row place-order"
                  style="float: right; margin-top: 20px; font-size: 16px"
                >
                  <input
                    type="submit"
                    class="ui primary button"
                    name="forgot_password"
                    id="forgot_password"
                    value="Reset Password"
                    data-value="forgot_password"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
